

#myheader{
    background-image: linear-gradient(to right, rgba(17, 56, 184, 0.9) 50%, rgba(245, 0, 123, 0.9) 100%), url(../img/header.png);
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    
}
#myheader .myoverlay{
 
    width: 100%;
    min-height: 700px;
}
#myfooter{
    background: linear-gradient(to right, rgba(17, 56, 184, 0.9) 50%, rgba(245, 0, 123, 0.9) 100%);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}
.mybg{
    background: linear-gradient(to right, rgba(17, 56, 184, 0.9) 50%, rgba(245, 0, 123, 0.9) 100%);
}